@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {  
    //This tells what 1rem is
    font-size: 62.5%;
}

body {
  box-sizing: border-box;
}