// COLORS
$color-primary: #0984e3;
$color-primary-light:  #59b3f8;
$color-primary-dark: #0768b2;

$color-grey-light-1: #f7f7f7;

$color-grey-dark:#777;
$color-white: #fff;
$color-black: #000;

//FONT SIZES
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;